body {
    font-family: Arial, sans-serif;
    background-color: #e60505;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #e20a0a;
}

.content {
    margin   : 0 auto;
    max-width: 400px;
    color: rgb(255, 150, 12);

}
.content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    
}

.content > * {
    border: 1px solid red;
}